src/wsdl/dgks/wsdl/1.0.0/Consent.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified"
    xmlns:mc="urn:oio:medcom:chronicdataset:1.0.0" targetNamespace="urn:oio:medcom:chronicdataset:1.0.0" >
        
    <element name="Consent" type="mc:ConsentType"/>
    
    <complexType name="ConsentType">
        <sequence>
            <element name="ConsentDeclaredDateTime" type="dateTime"/>
            <element name="ConsentGivenIndicator" type="boolean"/>
        </sequence>
    </complexType>
</schema>
