src/wsdl/dgks/wsdl/1.0.0/HealthAndPreventionProfileService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" 
	xmlns:xs="http://www.w3.org/2001/XMLSchema"
	xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
	xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:mc="urn:oio:medcom:chronicdataset:1.0.0"
	xmlns:tns="urn:oio:medcom:chronicdataset:healthandprevention:1.0.0" 
	name="KramPredictorService"
	targetNamespace="urn:oio:medcom:chronicdataset:healthandprevention:1.0.0">
	<wsdl:types>
		<xs:schema targetNamespace="urn:oio:medcom:chronicdataset:healthandprevention:1.0.0" elementFormDefault="qualified">
			<xs:include schemaLocation="HealthAndPreventionProfileService.xsd"/>
			<xs:import namespace="urn:oio:medcom:chronicdataset:1.0.0" schemaLocation="Fault.xsd"/>
		</xs:schema>
	</wsdl:types>
	<wsdl:message name="FaultMessage">
		<wsdl:part name="fault" element="mc:Fault"/>
	</wsdl:message>
	<wsdl:message name="HealthAndPreventionProfileEntryRequestMessage">
		<wsdl:part name="parameter" element="tns:HealthAndPreventionProfileEntryRequestMessage"/>
	</wsdl:message>
	<wsdl:message name="HealthAndPreventionProfileEntryResponseMessage">
		<wsdl:part name="parameter" element="tns:HealthAndPreventionProfileEntryResponseMessage"/>
	</wsdl:message>
	<wsdl:message name="DeleteHealthAndPreventionProfileEntryRequestMessage">
		<wsdl:part name="parameter" element="tns:DeleteHealthAndPreventionProfileEntryRequestMessage"/>
	</wsdl:message>
	<wsdl:message name="DeleteHealthAndPreventionProfileEntryResponseMessage">
		<wsdl:part name="parameter" element="tns:DeleteHealthAndPreventionProfileEntryResponseMessage"/>
	</wsdl:message>
	<wsdl:portType name="HealthAndPreventionProfilePortType">
		<wsdl:operation name="HealthAndPreventionProfileEntry">
			<wsdl:input message="tns:HealthAndPreventionProfileEntryRequestMessage"/>
			<wsdl:output message="tns:HealthAndPreventionProfileEntryResponseMessage"/>
			<wsdl:fault name="Fault" message="tns:FaultMessage"/>
		</wsdl:operation>
		<wsdl:operation name="DeleteHealthAndPreventionProfileEntry">
			<wsdl:input message="tns:DeleteHealthAndPreventionProfileEntryRequestMessage"/>
			<wsdl:output message="tns:DeleteHealthAndPreventionProfileEntryResponseMessage"/>
			<wsdl:fault name="Fault" message="tns:FaultMessage"/>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="HealthAndPreventionProfileBinding" type="tns:HealthAndPreventionProfilePortType">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="HealthAndPreventionProfileEntry">
			<soap:operation soapAction="HealthAndPreventionProfileEntry"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="Fault">
				<soap:fault name="Fault" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="DeleteHealthAndPreventionProfileEntry">
			<soap:operation soapAction="DeleteHealthAndPreventionProfileEntry"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="Fault">
				<soap:fault name="Fault" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="HealthAndPreventionProfileService">
		<wsdl:port name="HealthAndPreventionProfilePort" binding="tns:HealthAndPreventionProfileBinding">
			<soap:address location="http://localhost/NoServiceHere"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
