src/wsdl/dgks/wsdl/1.0.0/PatientDiaryService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" 
	xmlns:xs="http://www.w3.org/2001/XMLSchema"
	xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
	xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:mc="urn:oio:medcom:chronicdataset:1.0.0"
	xmlns:tns="urn:oio:medcom:chronicdataset:patient-diary:1.0.0" 
	name="PatientDiaryService"
	targetNamespace="urn:oio:medcom:chronicdataset:patient-diary:1.0.0">
	<wsdl:types>
		<xs:schema targetNamespace="urn:oio:medcom:chronicdataset:patient-diary:1.0.0" elementFormDefault="qualified">
			<xs:include schemaLocation="PatientDiaryService.xsd"/>
			<xs:import namespace="urn:oio:medcom:chronicdataset:1.0.0" schemaLocation="Fault.xsd"/>
		</xs:schema>
	</wsdl:types>
	<wsdl:message name="FaultMessage">
		<wsdl:part name="fault" element="mc:Fault"/>
	</wsdl:message>
	<wsdl:message name="CreatePatientDiaryEntryRequestMessage">
		<wsdl:part name="parameter" element="tns:CreatePatientDiaryEntryRequestMessage"/>
	</wsdl:message>
	<wsdl:message name="CreatePatientDiaryEntryResponseMessage">
		<wsdl:part name="parameter" element="tns:CreatePatientDiaryEntryResponseMessage"/>
	</wsdl:message>
	<wsdl:message name="DeletePatientDiaryEntryRequestMessage">
		<wsdl:part name="parameter" element="tns:DeletePatientDiaryEntryRequestMessage"/>
	</wsdl:message>
	<wsdl:message name="DeletePatientDiaryEntryResponseMessage">
		<wsdl:part name="parameter" element="tns:DeletePatientDiaryEntryResponseMessage"/>
	</wsdl:message>
	<wsdl:portType name="PatientDiaryPortType">
		<wsdl:operation name="CreatePatientDiaryEntry">
			<wsdl:input message="tns:CreatePatientDiaryEntryRequestMessage"/>
			<wsdl:output message="tns:CreatePatientDiaryEntryResponseMessage"/>
			<wsdl:fault name="Fault" message="tns:FaultMessage"/>
		</wsdl:operation>
		<wsdl:operation name="DeletePatientDiaryEntry">
			<wsdl:input message="tns:DeletePatientDiaryEntryRequestMessage"/>
			<wsdl:output message="tns:DeletePatientDiaryEntryResponseMessage"/>
			<wsdl:fault name="Fault" message="tns:FaultMessage"/>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="PatientDiaryBinding" type="tns:PatientDiaryPortType">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="CreatePatientDiaryEntry">
			<soap:operation soapAction="CreatePatientDiaryEntry"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="Fault">
				<soap:fault name="Fault" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="DeletePatientDiaryEntry">
			<soap:operation soapAction="DeletePatientDiaryEntry"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="Fault">
				<soap:fault name="Fault" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="PatientDiaryService">
		<wsdl:port name="PatientDiaryPort" binding="tns:PatientDiaryBinding">
			<soap:address location="http://localhost/NoServiceHere"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
