src/wsdl/dgks/wsdl/CalendarService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" 
	xmlns:xs="http://www.w3.org/2001/XMLSchema"
	xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
	xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:fault="urn:oio:medcom:chronic-fault:1.0.0"
	xmlns:tns="urn:oio:medcom:calendar:1.0.0" 
	name="CalendarService"
	targetNamespace="urn:oio:medcom:calendar:1.0.0">
	<wsdl:types>
		<xs:schema targetNamespace="urn:oio:medcom:calendar:1.0.0" elementFormDefault="qualified">
			<xs:include schemaLocation="CalendarService.xsd"/>
			<xs:import namespace="urn:oio:medcom:chronic-fault:1.0.0" schemaLocation="fault.xsd"/>
		</xs:schema>
	</wsdl:types>
	<wsdl:message name="HardFaultMessage">
		<wsdl:part name="fault" element="fault:HardFaultDetailMessage"/>
	</wsdl:message>
	<wsdl:message name="SoftFaultMessage">
		<wsdl:part name="fault" element="fault:SoftFaultDetailMessage"/>
	</wsdl:message>
	<wsdl:message name="CreateCalendarEntryRequestMessage">
		<wsdl:part name="parameter" element="tns:CreateCalendarEntryRequestMessage"/>
	</wsdl:message>
	<wsdl:message name="CreateCalendarEntryResponseMessage">
		<wsdl:part name="parameter" element="tns:CreateCalendarEntryResponseMessage"/>
	</wsdl:message>
	<wsdl:message name="DeleteCalendarEntryRequestMessage">
		<wsdl:part name="parameter" element="tns:DeleteCalendarEntryRequestMessage"/>
	</wsdl:message>
	<wsdl:message name="DeleteCalendarEntryResponseMessage">
		<wsdl:part name="parameter" element="tns:DeleteCalendarEntryResponseMessage"/>
	</wsdl:message>
	<wsdl:portType name="PortType">
		<wsdl:operation name="CreateCalendarEntry">
			<wsdl:input message="tns:CreateCalendarEntryRequestMessage"/>
			<wsdl:output message="tns:CreateCalendarEntryResponseMessage"/>
			<wsdl:fault name="SoftFault" message="tns:SoftFaultMessage"/>
			<wsdl:fault name="HardFault" message="tns:HardFaultMessage"/>
		</wsdl:operation>
		<wsdl:operation name="DeleteCalendarEntry">
			<wsdl:input message="tns:DeleteCalendarEntryRequestMessage"/>
			<wsdl:output message="tns:DeleteCalendarEntryResponseMessage"/>
			<wsdl:fault name="SoftFault" message="tns:SoftFaultMessage"/>
			<wsdl:fault name="HardFault" message="tns:HardFaultMessage"/>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="Binding" type="tns:PortType">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="DeleteCalendarEntry">
			<soap:operation soapAction="DeleteCalendarEntry"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="SoftFault">
				<soap:fault name="SoftFault" use="literal"/>
			</wsdl:fault>
			<wsdl:fault name="HardFault">
				<soap:fault name="HardFault" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="CreateCalendarEntry">
			<soap:operation soapAction="CreateCalendarEntry"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="SoftFault">
				<soap:fault name="SoftFault" use="literal"/>
			</wsdl:fault>
			<wsdl:fault name="HardFault">
				<soap:fault name="HardFault" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="Service">
		<wsdl:port name="Port" binding="tns:Binding">
			<soap:address location="http://localhost/NoServiceHere"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
