src/wsdl/dgks/wsdl/LaboratoryResultService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" 
	xmlns:xs="http://www.w3.org/2001/XMLSchema"
	xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
	xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:fault="urn:oio:medcom:chronic-fault:1.0.0"
	xmlns:tns="urn:oio:medcom:laboratory-result:1.0.0" 
	name="LaboratoryResultService"
	targetNamespace="urn:oio:medcom:laboratory-result:1.0.0">
	<wsdl:types>
		<xs:schema targetNamespace="urn:oio:medcom:laboratory-result:1.0.0" elementFormDefault="qualified">
			<xs:include schemaLocation="LaboratoryResultService.xsd"/>
			<xs:import namespace="urn:oio:medcom:chronic-fault:1.0.0" schemaLocation="fault.xsd"/>
		</xs:schema>
	</wsdl:types>
	<wsdl:message name="HardFaultMessage">
		<wsdl:part name="fault" element="fault:HardFaultDetailMessage"/>
	</wsdl:message>
	<wsdl:message name="SoftFaultMessage">
		<wsdl:part name="fault" element="fault:SoftFaultDetailMessage"/>
	</wsdl:message>
	<wsdl:message name="CreateLaboratoryResultRequestMessage">
		<wsdl:part name="parameter" element="tns:CreateLaboratoryResultRequestMessage"/>
	</wsdl:message>
	<wsdl:message name="CreateLaboratoryResultResponseMessage">
		<wsdl:part name="parameter" element="tns:CreateLaboratoryResultResponseMessage"/>
	</wsdl:message>
	<wsdl:message name="DeleteLaboratoryResultRequestMessage">
		<wsdl:part name="parameter" element="tns:DeleteLaboratoryResultRequestMessage"/>
	</wsdl:message>
	<wsdl:message name="DeleteLaboratoryResultResponseMessage">
		<wsdl:part name="parameter" element="tns:DeleteLaboratoryResultResponseMessage"/>
	</wsdl:message>
	<wsdl:portType name="LaboratoryResultPortType">
		<wsdl:operation name="CreateLaboratoryResult">
			<wsdl:input message="tns:CreateLaboratoryResultRequestMessage"/>
			<wsdl:output message="tns:CreateLaboratoryResultResponseMessage"/>
			<wsdl:fault name="SoftFault" message="tns:SoftFaultMessage"/>
			<wsdl:fault name="HardFault" message="tns:HardFaultMessage"/>
		</wsdl:operation>
		<wsdl:operation name="DeleteLaboratoryResult">
			<wsdl:input message="tns:DeleteLaboratoryResultRequestMessage"/>
			<wsdl:output message="tns:DeleteLaboratoryResultResponseMessage"/>
			<wsdl:fault name="SoftFault" message="tns:SoftFaultMessage"/>
			<wsdl:fault name="HardFault" message="tns:HardFaultMessage"/>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="LaboratoryResultBinding" type="tns:LaboratoryResultPortType">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="CreateLaboratoryResult">
			<soap:operation soapAction="CreateLaboratoryResult"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="SoftFault">
				<soap:fault name="SoftFault" use="literal"/>
			</wsdl:fault>
			<wsdl:fault name="HardFault">
				<soap:fault name="HardFault" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="DeleteLaboratoryResult">
			<soap:operation soapAction="DeleteLaboratoryResult"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="SoftFault">
				<soap:fault name="SoftFault" use="literal"/>
			</wsdl:fault>
			<wsdl:fault name="HardFault">
				<soap:fault name="HardFault" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="LaboratoryResultService">
		<wsdl:port name="LaboratoryResultPort" binding="tns:LaboratoryResultBinding">
			<soap:address location="http://localhost/NoServiceHere"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>