src/wsdl/dgks/wsdl/LaboratoryAnalysisFile.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2006 sp1 U (http://www.altova.com) by Jacob Glasdam (Center for Sundheds-telematik) -->
<!-- edited with XMLSPY v5 rel. 4 U (http://www.xmlspy.com) by Henrik Gørup Rasmussen (Acure) -->
<xs:schema xmlns="http://rep.oio.dk/sundcom.dk/medcom.dk/xml/schemas/2006/07/01/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:cpr="http://rep.oio.dk/cpr.dk/xml/schemas/core/2002/06/28/" xmlns:dkcc="http://rep.oio.dk/ebxml/xml/schemas/dkcc/2003/02/13/" targetNamespace="http://rep.oio.dk/sundcom.dk/medcom.dk/xml/schemas/2006/07/01/" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:include schemaLocation="GeneralElements.xsd"/>
	<xs:include schemaLocation="LetterType.xsd"/>
	<xs:include schemaLocation="Sender.xsd"/>
	<xs:include schemaLocation="Receiver.xsd"/>
	<xs:include schemaLocation="CCReceiver.xsd"/>
	<xs:include schemaLocation="Patient.xsd"/>
	<xs:element name="LaboratoryAnalysisFile" type="LaboratoryAnalysisFileType">
		<xs:annotation>
			<xs:documentation>PRODAT</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:complexType name="LaboratoryAnalysisFileType">
		<xs:annotation>
			<xs:documentation>Definition af en PRODAT</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Letter" type="LaboratoryAnalysisFileLetterType">
				<xs:annotation>
					<xs:documentation>Kan betragtes som et Letter element, som blot begrænses til VersionCode=XA0135Z  og TypeCode=XDAO01</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Sender">
				<xs:complexType>
					<xs:sequence>
						<xs:element ref="EANIdentifier"/>
						<xs:element ref="Identifier"/>
						<xs:element ref="IdentifierCode"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="Receiver">
				<xs:complexType>
					<xs:sequence>
						<xs:element ref="EANIdentifier"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="GeneralInformation">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="LaboratoryShortName" type="String_1_3"/>
						<xs:element name="ReferenceNumber">
							<xs:simpleType>
								<xs:restriction base="xs:int">
									<xs:minInclusive value="1"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
						<xs:element name="Previous">
							<xs:complexType>
								<xs:sequence>
									<xs:element name="ReferenceNumber">
										<xs:simpleType>
											<xs:restriction base="xs:int">
												<xs:minInclusive value="0"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:element>
									<xs:element name="DateTime" type="DateTimeType"/>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="AnalysisDetails" maxOccurs="unbounded">
				<xs:complexType>
					<xs:sequence>
						<xs:sequence>
							<xs:annotation>
								<xs:documentation>Aktualitet</xs:documentation>
							</xs:annotation>
							<xs:element name="StatusCode">
								<xs:annotation>
									<xs:documentation>AKTKODE</xs:documentation>
								</xs:annotation>
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:enumeration value="ny"/>
										<xs:enumeration value="rettelse"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:choice>
								<xs:annotation>
									<xs:documentation>VALKODE+Valtid</xs:documentation>
								</xs:annotation>
								<xs:element name="ValidFrom" type="DateTimeType"/>
								<xs:element name="ValidUntil" type="DateTimeType"/>
								<xs:element name="Changed" type="DateTimeType"/>
							</xs:choice>
						</xs:sequence>
						<xs:sequence>
							<xs:annotation>
								<xs:documentation>Identifikation</xs:documentation>
							</xs:annotation>
							<xs:element name="Code" type="String_1_8">
								<xs:annotation>
									<xs:documentation>LabKode</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element name="CodeType">
								<xs:annotation>
									<xs:documentation>KODETABEL</xs:documentation>
								</xs:annotation>
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:enumeration value="iupac"/>
										<xs:enumeration value="lokal"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="CodeResponsible" type="String_1_3">
								<xs:annotation>
									<xs:documentation>LabOrg</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element name="FullName" type="BreakableText">
								<xs:annotation>
									<xs:documentation>AnalysenavnFulde</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element name="ShortName" type="String_1_35" minOccurs="0">
								<xs:annotation>
									<xs:documentation>KortNavn</xs:documentation>
								</xs:annotation>
							</xs:element>
						</xs:sequence>
						<xs:element name="LaboratoryInformation" type="BreakableText" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Infofralab</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:sequence>
							<xs:element name="MaxResultPriority" minOccurs="0">
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:enumeration value="rutine"/>
										<xs:enumeration value="fremskyndet"/>
										<xs:enumeration value="straks"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="ResultPriorityRestrictions" type="String_1_70" minOccurs="0"/>
						</xs:sequence>
						<xs:element name="RequestInformation">
							<xs:annotation>
								<xs:documentation>ReqFull</xs:documentation>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:enumeration value="kan_bestilles_og_besvares"/>
									<xs:enumeration value="kan_bestilles"/>
									<xs:enumeration value="tages_paa_laboratorie"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
						<xs:element name="Handling" type="String_1_70" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Haandtering</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:choice>
							<xs:sequence>
								<xs:element name="IsASingleAnalysis">
									<xs:annotation>
										<xs:documentation>TEKSTKVAL=MQ</xs:documentation>
									</xs:annotation>
									<xs:simpleType>
										<xs:restriction base="xs:boolean">
											<xs:pattern value="true"/>
										</xs:restriction>
									</xs:simpleType>
								</xs:element>
								<xs:element name="TypeOfTestTubes">
									<xs:annotation>
										<xs:documentation>FTX+EMB</xs:documentation>
									</xs:annotation>
									<xs:complexType>
										<xs:sequence>
											<xs:element name="ShortName" type="String_1_8">
												<xs:annotation>
													<xs:documentation>GlastypeMax8</xs:documentation>
												</xs:annotation>
											</xs:element>
											<xs:element name="ShortNameResponsible" type="String_1_3">
												<xs:annotation>
													<xs:documentation>LokalLabOrg</xs:documentation>
												</xs:annotation>
											</xs:element>
											<xs:element name="Description" type="String_1_70" minOccurs="0">
												<xs:annotation>
													<xs:documentation>Glasbeskrivelse</xs:documentation>
												</xs:annotation>
											</xs:element>
											<xs:element name="Priority" minOccurs="0">
												<xs:simpleType>
													<xs:restriction base="xs:int">
														<xs:maxInclusive value="9"/>
														<xs:minInclusive value="0"/>
													</xs:restriction>
												</xs:simpleType>
											</xs:element>
										</xs:sequence>
									</xs:complexType>
								</xs:element>
								<xs:element name="TestTubeGroup">
									<xs:annotation>
										<xs:documentation>FTX+PTG</xs:documentation>
									</xs:annotation>
									<xs:complexType>
										<xs:sequence>
											<xs:element name="Identifier" type="String_1_8">
												<xs:annotation>
													<xs:documentation>GlasgruppeNr</xs:documentation>
												</xs:annotation>
											</xs:element>
											<xs:element name="IdentifierResponsible" type="String_1_3">
												<xs:annotation>
													<xs:documentation>LabOrg</xs:documentation>
												</xs:annotation>
											</xs:element>
											<xs:element name="Name" type="String_1_70" minOccurs="0">
												<xs:annotation>
													<xs:documentation>GlasGruppeNavn</xs:documentation>
												</xs:annotation>
											</xs:element>
											<xs:element name="Priority" minOccurs="0">
												<xs:simpleType>
													<xs:restriction base="xs:int">
														<xs:minInclusive value="0"/>
														<xs:maxInclusive value="9"/>
													</xs:restriction>
												</xs:simpleType>
											</xs:element>
										</xs:sequence>
									</xs:complexType>
								</xs:element>
								<xs:element name="LabelType">
									<xs:annotation>
										<xs:documentation>Etikettype</xs:documentation>
									</xs:annotation>
									<xs:simpleType>
										<xs:restriction base="xs:int">
											<xs:minInclusive value="0"/>
											<xs:maxInclusive value="9999"/>
										</xs:restriction>
									</xs:simpleType>
								</xs:element>
								<xs:element name="LabelTextCode" minOccurs="0">
									<xs:annotation>
										<xs:documentation>FTX+FUN</xs:documentation>
									</xs:annotation>
									<xs:simpleType>
										<xs:restriction base="xs:string">
											<xs:enumeration value="uspecificeret"/>
											<xs:enumeration value="ydernummer"/>
											<xs:enumeration value="proevetagningstidspunkt"/>
											<xs:enumeration value="glasgruppenummer"/>
											<xs:enumeration value="cprnummer"/>
										</xs:restriction>
									</xs:simpleType>
								</xs:element>
							</xs:sequence>
							<xs:sequence>
								<xs:element name="IsAnAnalysisGroup">
									<xs:annotation>
										<xs:documentation>TEKSTKVAL=ANG</xs:documentation>
									</xs:annotation>
									<xs:simpleType>
										<xs:restriction base="xs:boolean">
											<xs:pattern value="true"/>
										</xs:restriction>
									</xs:simpleType>
								</xs:element>
								<xs:element name="AnalysisInGroup" maxOccurs="40">
									<xs:annotation>
										<xs:documentation>FTX+PAI</xs:documentation>
									</xs:annotation>
									<xs:complexType>
										<xs:sequence>
											<xs:element name="Code" type="String_1_8">
												<xs:annotation>
													<xs:documentation>LabKode</xs:documentation>
												</xs:annotation>
											</xs:element>
											<xs:element name="CodeType">
												<xs:annotation>
													<xs:documentation>KODETABEL</xs:documentation>
												</xs:annotation>
												<xs:simpleType>
													<xs:restriction base="xs:string">
														<xs:enumeration value="iupac"/>
														<xs:enumeration value="lokal"/>
													</xs:restriction>
												</xs:simpleType>
											</xs:element>
											<xs:element name="CodeResponsible" type="String_1_3">
												<xs:annotation>
													<xs:documentation>LabOrg</xs:documentation>
												</xs:annotation>
											</xs:element>
											<xs:element name="FullName" type="String_1_70">
												<xs:annotation>
													<xs:documentation>AnalysenavnFulde</xs:documentation>
												</xs:annotation>
											</xs:element>
										</xs:sequence>
									</xs:complexType>
								</xs:element>
							</xs:sequence>
						</xs:choice>
						<xs:element name="NumberOfTestTubes" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Antalglas</xs:documentation>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:int">
									<xs:minInclusive value="1"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
						<xs:element name="BarcodeType" minOccurs="0">
							<xs:annotation>
								<xs:documentation>BARCODETYPE</xs:documentation>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:enumeration value="interleaved_2of5"/>
									<xs:enumeration value="code_128c"/>
									<xs:enumeration value="code_39"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
						<xs:element name="LabelTypeInBarcode" type="xs:boolean" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Bcyes</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="Prompt" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Spørgsmål der
kræver et svar
når denne test
rekvireres</xs:documentation>
							</xs:annotation>
							<xs:complexType>
								<xs:sequence>
									<xs:element name="QuestionToBeAnsweredWithBooleanValue" type="String_1_35" minOccurs="0"/>
									<xs:element name="QuestionToBeAnsweredWithDateValue" type="String_1_35" minOccurs="0"/>
									<xs:element name="QuestionToBeAnsweredWithDiagnoseValue" type="String_1_35" minOccurs="0"/>
									<xs:element name="QuestionToBeAnsweredWithNumericValue" type="String_1_35" minOccurs="0"/>
									<xs:element name="QuestionToBeAnsweredWithTextValue" type="String_1_70" minOccurs="0"/>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
						<xs:sequence>
							<xs:annotation>
								<xs:documentation>Præsentation</xs:documentation>
							</xs:annotation>
							<xs:element ref="RequisitionGroup">
								<xs:annotation>
									<xs:documentation>FTX+AGR</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element ref="Order" minOccurs="0">
								<xs:annotation>
									<xs:documentation>Sorteringsorden</xs:documentation>
								</xs:annotation>
							</xs:element>
						</xs:sequence>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="LaboratoryAnalysisFileLetterType">
		<xs:annotation>
			<xs:documentation>Kan betragtes som en LetterType, som blot begrænses til VersionCode=XA0135Z  og TypeCode=XDAO01</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:restriction base="LetterType">
				<xs:sequence>
					<xs:element name="Identifier" type="String_1_14"/>
					<xs:element name="VersionCode">
						<xs:simpleType>
							<xs:restriction base="VersionCodeType">
								<xs:pattern value="XA0135Z"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element name="StatisticalCode" type="String_1_8"/>
					<xs:element name="Authorisation" type="DateTimeType"/>
					<xs:element name="TypeCode">
						<xs:simpleType>
							<xs:restriction base="TypeCodeType">
								<xs:pattern value="XDAO01"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element name="StatusCode">
						<xs:simpleType>
							<xs:restriction base="StatusCodeType">
								<xs:pattern value="nytbrev"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
				</xs:sequence>
			</xs:restriction>
		</xs:complexContent>
	</xs:complexType>
</xs:schema>
