src/wsdl/dgks/wsdl/MedicationService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" 
	xmlns:xs="http://www.w3.org/2001/XMLSchema"
	xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
	xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:fault="urn:oio:medcom:chronic-fault:1.0.0"
	xmlns:tns="urn:oio:medcom:medication:1.0.0" 
	name="MedicationService"
	targetNamespace="urn:oio:medcom:medication:1.0.0">
	<wsdl:types>
		<xs:schema targetNamespace="urn:oio:medcom:medication:1.0.0" elementFormDefault="qualified">
			<xs:include schemaLocation="MedicationService.xsd"/>
			<xs:import namespace="urn:oio:medcom:chronic-fault:1.0.0" schemaLocation="fault.xsd"/>
		</xs:schema>
	</wsdl:types>
	<wsdl:message name="HardFaultMessage">
		<wsdl:part name="fault" element="fault:HardFaultDetailMessage"/>
	</wsdl:message>
	<wsdl:message name="SoftFaultMessage">
		<wsdl:part name="fault" element="fault:SoftFaultDetailMessage"/>
	</wsdl:message>
	<wsdl:message name="CreateMedicationRequestMessage">
		<wsdl:part name="parameter" element="tns:CreateMedicationRequestMessage"/>
	</wsdl:message>
	<wsdl:message name="CreateMedicationResponseMessage">
		<wsdl:part name="parameter" element="tns:CreateMedicationResponseMessage"/>
	</wsdl:message>
	<wsdl:message name="DeleteMedicationRequestMessage">
		<wsdl:part name="parameter" element="tns:DeleteMedicationRequestMessage"/>
	</wsdl:message>
	<wsdl:message name="DeleteMedicationResponseMessage">
		<wsdl:part name="parameter" element="tns:DeleteMedicationResponseMessage"/>
	</wsdl:message>
	<wsdl:portType name="MedicationPortType">
		<wsdl:operation name="CreateMedication">
			<wsdl:input message="tns:CreateMedicationRequestMessage"/>
			<wsdl:output message="tns:CreateMedicationResponseMessage"/>
			<wsdl:fault name="SoftFault" message="tns:SoftFaultMessage"/>
			<wsdl:fault name="HardFault" message="tns:HardFaultMessage"/>
		</wsdl:operation>
		<wsdl:operation name="DeleteMedication">
			<wsdl:input message="tns:DeleteMedicationRequestMessage"/>
			<wsdl:output message="tns:DeleteMedicationResponseMessage"/>
			<wsdl:fault name="SoftFault" message="tns:SoftFaultMessage"/>
			<wsdl:fault name="HardFault" message="tns:HardFaultMessage"/>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="MedicationBinding" type="tns:MedicationPortType">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="CreateMedication">
			<soap:operation soapAction="CreateMedication"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="SoftFault">
				<soap:fault name="SoftFault" use="literal"/>
			</wsdl:fault>
			<wsdl:fault name="HardFault">
				<soap:fault name="HardFault" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="DeleteMedication">
			<soap:operation soapAction="DeleteMedication"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="SoftFault">
				<soap:fault name="SoftFault" use="literal"/>
			</wsdl:fault>
			<wsdl:fault name="HardFault">
				<soap:fault name="HardFault" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="MedicationService">
		<wsdl:port name="MedicationPort" binding="tns:MedicationBinding">
			<soap:address location="http://localhost/NoServiceHere"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
