src/wsdl/dgks/wsdl/MonitoringService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" 
	xmlns:xs="http://www.w3.org/2001/XMLSchema"
	xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
	xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:fault="urn:oio:medcom:chronic-fault:1.0.0"
	xmlns:tns="urn:oio:medcom:monitoring:1.0.0" 
	name="MonitoringService"
	targetNamespace="urn:oio:medcom:monitoring:1.0.0">
	<wsdl:types>
		<xs:schema targetNamespace="urn:oio:medcom:monitoring:1.0.0" elementFormDefault="qualified">
			<xs:include schemaLocation="MonitoringService.xsd"/>
			<xs:import namespace="urn:oio:medcom:chronic-fault:1.0.0" schemaLocation="fault.xsd"/>
		</xs:schema>
	</wsdl:types>
	<wsdl:message name="HardFaultMessage">
		<wsdl:part name="fault" element="fault:HardFaultDetailMessage"/>
	</wsdl:message>
	<wsdl:message name="SoftFaultMessage">
		<wsdl:part name="fault" element="fault:SoftFaultDetailMessage"/>
	</wsdl:message>
	<wsdl:message name="CreateMonitoringRequestMessage">
		<wsdl:part name="parameter" element="tns:CreateMonitoringRequestMessage"/>
	</wsdl:message>
	<wsdl:message name="CreateMonitoringResponseMessage">
		<wsdl:part name="parameter" element="tns:CreateMonitoringResponseMessage"/>
	</wsdl:message>
	<wsdl:message name="DeleteMonitoringRequestMessage">
		<wsdl:part name="parameter" element="tns:DeleteMonitoringRequestMessage"/>
	</wsdl:message>
	<wsdl:message name="DeleteMonitoringResponseMessage">
		<wsdl:part name="parameter" element="tns:DeleteMonitoringResponseMessage"/>
	</wsdl:message>
	<wsdl:portType name="MonitoringPortType">
		<wsdl:operation name="CreateMonitoring">
			<wsdl:input message="tns:CreateMonitoringRequestMessage"/>
			<wsdl:output message="tns:CreateMonitoringResponseMessage"/>
			<wsdl:fault name="SoftFault" message="tns:SoftFaultMessage"/>
			<wsdl:fault name="HardFault" message="tns:HardFaultMessage"/>
		</wsdl:operation>
		<wsdl:operation name="DeleteMonitoring">
			<wsdl:input message="tns:DeleteMonitoringRequestMessage"/>
			<wsdl:output message="tns:DeleteMonitoringResponseMessage"/>
			<wsdl:fault name="SoftFault" message="tns:SoftFaultMessage"/>
			<wsdl:fault name="HardFault" message="tns:HardFaultMessage"/>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="MonitoringBinding" type="tns:MonitoringPortType">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="CreateMonitoring">
			<soap:operation soapAction="CreateMonitoring"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="SoftFault">
				<soap:fault name="SoftFault" use="literal"/>
			</wsdl:fault>
			<wsdl:fault name="HardFault">
				<soap:fault name="HardFault" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="DeleteMonitoring">
			<soap:operation soapAction="DeleteMonitoring"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="SoftFault">
				<soap:fault name="SoftFault" use="literal"/>
			</wsdl:fault>
			<wsdl:fault name="HardFault">
				<soap:fault name="HardFault" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="MonitoringService">
		<wsdl:port name="MonitoringPort" binding="tns:MonitoringBinding">
			<soap:address location="http://localhost/NoServiceHere"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
