src/wsdl/dgks/wsdl/PatientDiaryService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" 
	xmlns:xs="http://www.w3.org/2001/XMLSchema"
	xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
	xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:fault="urn:oio:medcom:chronic-fault:1.0.0"
	xmlns:tns="urn:oio:medcom:patient-diary:1.0.0" 
	name="PatientDiaryService"
	targetNamespace="urn:oio:medcom:patient-diary:1.0.0">
	<wsdl:types>
		<xs:schema targetNamespace="urn:oio:medcom:patient-diary:1.0.0" elementFormDefault="qualified">
			<xs:include schemaLocation="PatientDiaryService.xsd"/>
			<xs:import namespace="urn:oio:medcom:chronic-fault:1.0.0" schemaLocation="fault.xsd"/>
		</xs:schema>
	</wsdl:types>
	<wsdl:message name="HardFaultMessage">
		<wsdl:part name="fault" element="fault:HardFaultDetailMessage"/>
	</wsdl:message>
	<wsdl:message name="SoftFaultMessage">
		<wsdl:part name="fault" element="fault:SoftFaultDetailMessage"/>
	</wsdl:message>
	<wsdl:message name="CreateMyDiaryEntryRequestMessage">
		<wsdl:part name="parameter" element="tns:CreateMyDiaryEntryRequestMessage"/>
	</wsdl:message>
	<wsdl:message name="CreateMyDiaryEntryResponseMessage">
		<wsdl:part name="parameter" element="tns:CreateMyDiaryEntryResponseMessage"/>
	</wsdl:message>
	<wsdl:message name="DeleteMyDiaryEntryRequestMessage">
		<wsdl:part name="parameter" element="tns:DeleteMyDiaryEntryRequestMessage"/>
	</wsdl:message>
	<wsdl:message name="DeleteMyDiaryEntryResponseMessage">
		<wsdl:part name="parameter" element="tns:DeleteMyDiaryEntryResponseMessage"/>
	</wsdl:message>
	<wsdl:portType name="PatientDiaryPortType">
		<wsdl:operation name="CreateMyDiaryEntryPatientDiary">
			<wsdl:input message="tns:CreateMyDiaryEntryRequestMessage"/>
			<wsdl:output message="tns:CreateMyDiaryEntryResponseMessage"/>
			<wsdl:fault name="SoftFault" message="tns:SoftFaultMessage"/>
			<wsdl:fault name="HardFault" message="tns:HardFaultMessage"/>
		</wsdl:operation>
		<wsdl:operation name="DeleteMyDiaryEntryPatientDiary">
			<wsdl:input message="tns:DeleteMyDiaryEntryRequestMessage"/>
			<wsdl:output message="tns:DeleteMyDiaryEntryResponseMessage"/>
			<wsdl:fault name="SoftFault" message="tns:SoftFaultMessage"/>
			<wsdl:fault name="HardFault" message="tns:HardFaultMessage"/>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="PatientDiaryBinding" type="tns:PatientDiaryPortType">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="CreateMyDiaryEntryPatientDiary">
			<soap:operation soapAction="CreateMyDiaryEntryPatientDiary"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="SoftFault">
				<soap:fault name="SoftFault" use="literal"/>
			</wsdl:fault>
			<wsdl:fault name="HardFault">
				<soap:fault name="HardFault" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="DeleteMyDiaryEntryPatientDiary">
			<soap:operation soapAction="DeleteMyDiaryEntryPatientDiary"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="SoftFault">
				<soap:fault name="SoftFault" use="literal"/>
			</wsdl:fault>
			<wsdl:fault name="HardFault">
				<soap:fault name="HardFault" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="PatientDiaryService">
		<wsdl:port name="PatientDiaryPort" binding="tns:PatientDiaryBinding">
			<soap:address location="http://localhost/NoServiceHere"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
