src/wsdl/dgks/wsdl/PatientsGoalService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" 
	xmlns:xs="http://www.w3.org/2001/XMLSchema"
	xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
	xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:fault="urn:oio:medcom:chronic-fault:1.0.0"
	xmlns:tns="urn:oio:medcom:patients-goal:1.0.0" 
	name="PatientsGoalService"
	targetNamespace="urn:oio:medcom:patients-goal:1.0.0">
	<wsdl:types>
		<xs:schema targetNamespace="urn:oio:medcom:patients-goal:1.0.0" elementFormDefault="qualified">
			<xs:include schemaLocation="PatientsGoalService.xsd"/>
			<xs:import namespace="urn:oio:medcom:chronic-fault:1.0.0" schemaLocation="fault.xsd"/>
		</xs:schema>
	</wsdl:types>
	<wsdl:message name="HardFaultMessage">
		<wsdl:part name="fault" element="fault:HardFaultDetailMessage"/>
	</wsdl:message>
	<wsdl:message name="SoftFaultMessage">
		<wsdl:part name="fault" element="fault:SoftFaultDetailMessage"/>
	</wsdl:message>
	<wsdl:message name="SetPatientsGoalRequestMessage">
		<wsdl:part name="parameter" element="tns:SetPatientsGoalRequestMessage"/>
	</wsdl:message>
	<wsdl:message name="SetPatientsGoalResponseMessage">
		<wsdl:part name="parameter" element="tns:SetPatientsGoalResponseMessage"/>
	</wsdl:message>
	<wsdl:message name="DeletePatientsGoalRequestMessage">
		<wsdl:part name="parameter" element="tns:DeletePatientsGoalRequestMessage"/>
	</wsdl:message>
	<wsdl:message name="DeletePatientsGoalResponseMessage">
		<wsdl:part name="parameter" element="tns:DeletePatientsGoalResponseMessage"/>
	</wsdl:message>
	<wsdl:portType name="PatientsGoalPortType">
		<wsdl:operation name="SetPatientsGoal">
			<wsdl:input message="tns:SetPatientsGoalRequestMessage"/>
			<wsdl:output message="tns:SetPatientsGoalResponseMessage"/>
			<wsdl:fault name="SoftFault" message="tns:SoftFaultMessage"/>
			<wsdl:fault name="HardFault" message="tns:HardFaultMessage"/>
		</wsdl:operation>
		<wsdl:operation name="DeletePatientsGoal">
			<wsdl:input message="tns:DeletePatientsGoalRequestMessage"/>
			<wsdl:output message="tns:DeletePatientsGoalResponseMessage"/>
			<wsdl:fault name="SoftFault" message="tns:SoftFaultMessage"/>
			<wsdl:fault name="HardFault" message="tns:HardFaultMessage"/>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="PatientsGoalBinding" type="tns:PatientsGoalPortType">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="DeletePatientsGoal">
			<soap:operation soapAction="DeletePatientsGoal"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="SoftFault">
				<soap:fault name="SoftFault" use="literal"/>
			</wsdl:fault>
			<wsdl:fault name="HardFault">
				<soap:fault name="HardFault" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="SetPatientsGoal">
			<soap:operation soapAction="SetPatientsGoal"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="SoftFault">
				<soap:fault name="SoftFault" use="literal"/>
			</wsdl:fault>
			<wsdl:fault name="HardFault">
				<soap:fault name="HardFault" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="PatientsGoalService">
		<wsdl:port name="PatientsGoalPort" binding="tns:PatientsGoalBinding">
			<soap:address location="http://localhost/NoServiceHere"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
