src/wsdl/dgks/wsdl/PatientMasterDataService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" 
	xmlns:xs="http://www.w3.org/2001/XMLSchema"
	xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
	xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:fault="urn:oio:medcom:chronic-fault:1.0.0"
	xmlns:tns="urn:oio:medcom:patient-master-data:1.0.0" 
	name="PatientMasterDataService"
	targetNamespace="urn:oio:medcom:patient-master-data:1.0.0">
	<wsdl:types>
		<xs:schema targetNamespace="urn:oio:medcom:patient-master-data:1.0.0" elementFormDefault="qualified">
			<xs:include schemaLocation="PatientMasterDataService.xsd"/>
			<xs:import namespace="urn:oio:medcom:chronic-fault:1.0.0" schemaLocation="fault.xsd"/>
		</xs:schema>
	</wsdl:types>
	<wsdl:message name="HardFaultMessage">
		<wsdl:part name="fault" element="fault:HardFaultDetailMessage"/>
	</wsdl:message>
	<wsdl:message name="SoftFaultMessage">
		<wsdl:part name="fault" element="fault:SoftFaultDetailMessage"/>
	</wsdl:message>
	<wsdl:message name="CreateUpdatePatientMasterDataRequestMessage">
		<wsdl:part name="parameter" element="tns:CreateUpdatePatientMasterDataRequestMessage"/>
	</wsdl:message>
	<wsdl:message name="CreateUpdatePatientMasterDataResponseMessage">
		<wsdl:part name="parameter" element="tns:CreateUpdatePatientMasterDataResponseMessage"/>
	</wsdl:message>
	<wsdl:message name="DeletePatientMasterDataRequestMessage">
		<wsdl:part name="parameter" element="tns:DeletePatientMasterDataRequestMessage"/>
	</wsdl:message>
	<wsdl:message name="DeletePatientMasterDataResponseMessage">
		<wsdl:part name="parameter" element="tns:DeletePatientMasterDataResponseMessage"/>
	</wsdl:message>
	<wsdl:portType name="PatientMasterDataPortType">
		<wsdl:operation name="CreateUpdatePatientMasterData">
			<wsdl:input message="tns:CreateUpdatePatientMasterDataRequestMessage"/>
			<wsdl:output message="tns:CreateUpdatePatientMasterDataResponseMessage"/>
			<wsdl:fault name="SoftFault" message="tns:SoftFaultMessage"/>
			<wsdl:fault name="HardFault" message="tns:HardFaultMessage"/>
		</wsdl:operation>
		<wsdl:operation name="DeletePatientMasterData">
			<wsdl:input message="tns:DeletePatientMasterDataRequestMessage"/>
			<wsdl:output message="tns:DeletePatientMasterDataResponseMessage"/>
			<wsdl:fault name="SoftFault" message="tns:SoftFaultMessage"/>
			<wsdl:fault name="HardFault" message="tns:HardFaultMessage"/>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="PatientMasterDataBinding" type="tns:PatientMasterDataPortType">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="CreateUpdatePatientMasterData">
			<soap:operation soapAction="CreateUpdatePatientMasterData"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="SoftFault">
				<soap:fault name="SoftFault" use="literal"/>
			</wsdl:fault>
			<wsdl:fault name="HardFault">
				<soap:fault name="HardFault" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="DeletePatientMasterData">
			<soap:operation soapAction="DeletePatientMasterData"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="SoftFault">
				<soap:fault name="SoftFault" use="literal"/>
			</wsdl:fault>
			<wsdl:fault name="HardFault">
				<soap:fault name="HardFault" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="PatientMasterDataService">
		<wsdl:port name="PatientMasterDataPort" binding="tns:PatientMasterDataBinding">
			<soap:address location="http://localhost/NoServiceHere"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
