src/wsdl/dgks/wsdl/ProviderInformationService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" 
	xmlns:xs="http://www.w3.org/2001/XMLSchema"
	xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
	xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:fault="urn:oio:medcom:chronic-fault:1.0.0"
	xmlns:tns="urn:oio:medcom:provider-information:1.0.0" 
	name="ProviderInformationService"
	targetNamespace="urn:oio:medcom:provider-information:1.0.0">
	<wsdl:types>
		<xs:schema targetNamespace="urn:oio:medcom:provider-information:1.0.0" elementFormDefault="qualified">
			<xs:include schemaLocation="ProviderInformationService.xsd"/>
			<xs:import namespace="urn:oio:medcom:chronic-fault:1.0.0" schemaLocation="fault.xsd"/>
		</xs:schema>
	</wsdl:types>
	<wsdl:message name="HardFaultMessage">
		<wsdl:part name="fault" element="fault:HardFaultDetailMessage"/>
	</wsdl:message>
	<wsdl:message name="SoftFaultMessage">
		<wsdl:part name="fault" element="fault:SoftFaultDetailMessage"/>
	</wsdl:message>
	<wsdl:message name="CreateUpdateProviderInformationRequestMessage">
		<wsdl:part name="parameter" element="tns:CreateUpdateProviderInformationRequestMessage"/>
	</wsdl:message>
	<wsdl:message name="CreateUpdateProviderInformationResponseMessage">
		<wsdl:part name="parameter" element="tns:CreateUpdateProviderInformationResponseMessage"/>
	</wsdl:message>
	<wsdl:message name="DeleteProviderInformationRequestMessage">
		<wsdl:part name="parameter" element="tns:DeleteProviderInformationRequestMessage"/>
	</wsdl:message>
	<wsdl:message name="DeleteProviderInformationResponseMessage">
		<wsdl:part name="parameter" element="tns:DeleteProviderInformationResponseMessage"/>
	</wsdl:message>
	<wsdl:portType name="ProviderInformationPortType">
		<wsdl:operation name="CreateUpdateProviderInformation">
			<wsdl:input message="tns:CreateUpdateProviderInformationRequestMessage"/>
			<wsdl:output message="tns:CreateUpdateProviderInformationResponseMessage"/>
			<wsdl:fault name="SoftFault" message="tns:SoftFaultMessage"/>
			<wsdl:fault name="HardFault" message="tns:HardFaultMessage"/>
		</wsdl:operation>
		<wsdl:operation name="DeleteProviderInformation">
			<wsdl:input message="tns:DeleteProviderInformationRequestMessage"/>
			<wsdl:output message="tns:DeleteProviderInformationResponseMessage"/>
			<wsdl:fault name="SoftFault" message="tns:SoftFaultMessage"/>
			<wsdl:fault name="HardFault" message="tns:HardFaultMessage"/>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="ProviderInformationBinding" type="tns:ProviderInformationPortType">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="CreateUpdateProviderInformation">
			<soap:operation soapAction="CreateUpdateProviderInformation"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="SoftFault">
				<soap:fault name="SoftFault" use="literal"/>
			</wsdl:fault>
			<wsdl:fault name="HardFault">
				<soap:fault name="HardFault" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="DeleteProviderInformation">
			<soap:operation soapAction="DeleteProviderInformation"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="SoftFault">
				<soap:fault name="SoftFault" use="literal"/>
			</wsdl:fault>
			<wsdl:fault name="HardFault">
				<soap:fault name="HardFault" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="ProviderInformationService">
		<wsdl:port name="ProviderInformationPort" binding="tns:ProviderInformationBinding">
			<soap:address location="http://localhost/NoServiceHere"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
