src/wsdl/dgks/wsdl/RelativeService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" 
	xmlns:xs="http://www.w3.org/2001/XMLSchema"
	xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
	xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:fault="urn:oio:medcom:chronic-fault:1.0.0"
	xmlns:tns="urn:oio:medcom:relative:1.0.0" 
	name="RelativeService"
	targetNamespace="urn:oio:medcom:relative:1.0.0">
	<wsdl:types>
		<xs:schema targetNamespace="urn:oio:medcom:relative:1.0.0" elementFormDefault="qualified">
			<xs:include schemaLocation="RelativeService.xsd"/>
			<xs:import namespace="urn:oio:medcom:chronic-fault:1.0.0" schemaLocation="fault.xsd"/>
		</xs:schema>
	</wsdl:types>
	<wsdl:message name="HardFaultMessage">
		<wsdl:part name="fault" element="fault:HardFaultDetailMessage"/>
	</wsdl:message>
	<wsdl:message name="SoftFaultMessage">
		<wsdl:part name="fault" element="fault:SoftFaultDetailMessage"/>
	</wsdl:message>
	<wsdl:message name="CreateUpdateRelativeRequestMessage">
		<wsdl:part name="parameter" element="tns:CreateUpdateRelativeRequestMessage"/>
	</wsdl:message>
	<wsdl:message name="CreateUpdateRelativeResponseMessage">
		<wsdl:part name="parameter" element="tns:CreateUpdateRelativeResponseMessage"/>
	</wsdl:message>
	<wsdl:message name="DeleteRelativeRequestMessage">
		<wsdl:part name="parameter" element="tns:DeleteRelativeRequestMessage"/>
	</wsdl:message>
	<wsdl:message name="DeleteRelativeResponseMessage">
		<wsdl:part name="parameter" element="tns:DeleteRelativeResponseMessage"/>
	</wsdl:message>
	<wsdl:portType name="RelativePortType">
		<wsdl:operation name="CreateUpdateRelative">
			<wsdl:input message="tns:CreateUpdateRelativeRequestMessage"/>
			<wsdl:output message="tns:CreateUpdateRelativeResponseMessage"/>
			<wsdl:fault name="SoftFault" message="tns:SoftFaultMessage"/>
			<wsdl:fault name="HardFault" message="tns:HardFaultMessage"/>
		</wsdl:operation>
		<wsdl:operation name="DeleteRelative">
			<wsdl:input message="tns:DeleteRelativeRequestMessage"/>
			<wsdl:output message="tns:DeleteRelativeResponseMessage"/>
			<wsdl:fault name="SoftFault" message="tns:SoftFaultMessage"/>
			<wsdl:fault name="HardFault" message="tns:HardFaultMessage"/>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="RelativeBinding" type="tns:RelativePortType">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="CreateUpdateRelative">
			<soap:operation soapAction="CreateUpdateRelative"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="SoftFault">
				<soap:fault name="SoftFault" use="literal"/>
			</wsdl:fault>
			<wsdl:fault name="HardFault">
				<soap:fault name="HardFault" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="DeleteRelative">
			<soap:operation soapAction="DeleteRelative"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="SoftFault">
				<soap:fault name="SoftFault" use="literal"/>
			</wsdl:fault>
			<wsdl:fault name="HardFault">
				<soap:fault name="HardFault" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="RelativeService">
		<wsdl:port name="RelativePort" binding="tns:RelativeBinding">
			<soap:address location="http://localhost/NoServiceHere"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
