src/wsdl/dgks/wsdl/1.0.1/MonitoringDatasetService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" 
	xmlns:xs="http://www.w3.org/2001/XMLSchema"
	xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
	xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:mc100="urn:oio:medcom:chronicdataset:1.0.0"
	xmlns:tns="urn:oio:medcom:monitoringdataset:1.0.1"
	name="MonitoringDatasetService"
	targetNamespace="urn:oio:medcom:monitoringdataset:1.0.1">
	
	<wsdl:types>
		<xs:schema targetNamespace="urn:oio:medcom:monitoringdataset:1.0.1" elementFormDefault="qualified">
			<xs:include schemaLocation="MonitoringDatasetService.xsd"/>
			<xs:import namespace="urn:oio:medcom:chronicdataset:1.0.0" schemaLocation="../1.0.0/Fault.xsd"/>
		</xs:schema>
	</wsdl:types>
	<wsdl:message name="FaultMessage">
		<wsdl:part name="fault" element="mc100:Fault"/>
	</wsdl:message>
	<wsdl:message name="GetMonitoringDatasetRequestMessage">
		<wsdl:part name="parameter" element="tns:GetMonitoringDatasetRequestMessage"/>
	</wsdl:message>
	<wsdl:message name="GetMonitoringDatasetResponseMessage">
		<wsdl:part name="parameter" element="tns:GetMonitoringDatasetResponseMessage"/>
	</wsdl:message>
	<wsdl:message name="CreateMonitoringDatasetRequestMessage">
		<wsdl:part name="parameter" element="tns:CreateMonitoringDatasetRequestMessage"/>
	</wsdl:message>
	<wsdl:message name="CreateMonitoringDatasetResponseMessage">
		<wsdl:part name="parameter" element="tns:CreateMonitoringDatasetResponseMessage"/>
	</wsdl:message>
	<wsdl:message name="DeleteMonitoringDatasetRequestMessage">
		<wsdl:part name="parameter" element="tns:DeleteMonitoringDatasetRequestMessage"/>
	</wsdl:message>
	<wsdl:message name="DeleteMonitoringDatasetResponseMessage">
		<wsdl:part name="parameter" element="tns:DeleteMonitoringDatasetResponseMessage"/>
	</wsdl:message>
	<wsdl:portType name="MonitoringDatasetPortType">
		<wsdl:operation name="GetMonitoringDataset">
			<wsdl:input message="tns:GetMonitoringDatasetRequestMessage"/>
			<wsdl:output message="tns:GetMonitoringDatasetResponseMessage"/>
			<wsdl:fault name="Fault" message="tns:FaultMessage"/>
		</wsdl:operation>
		<wsdl:operation name="CreateMonitoringDataset">
			<wsdl:input message="tns:CreateMonitoringDatasetRequestMessage"/>
			<wsdl:output message="tns:CreateMonitoringDatasetResponseMessage"/>
			<wsdl:fault name="Fault" message="tns:FaultMessage"/>
		</wsdl:operation>
		<wsdl:operation name="DeleteMonitoringDataset">
			<wsdl:input message="tns:DeleteMonitoringDatasetRequestMessage"/>
			<wsdl:output message="tns:DeleteMonitoringDatasetResponseMessage"/>
			<wsdl:fault name="Fault" message="tns:FaultMessage"/>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="MonitoringDatasetBinding" type="tns:MonitoringDatasetPortType">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="GetMonitoringDataset">
			<soap:operation soapAction="GetMonitoringDataset"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="Fault">
				<soap:fault name="Fault" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="CreateMonitoringDataset">
			<soap:operation soapAction="CreateMonitoringDataset"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="Fault">
				<soap:fault name="Fault" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="DeleteMonitoringDataset">
			<soap:operation soapAction="DeleteMonitoringDataset"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="Fault">
				<soap:fault name="Fault" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="MonitoringDatasetService">
		<wsdl:port name="MonitoringDatasetPort" binding="tns:MonitoringDatasetBinding">
			<soap:address location="http://localhost/NoServiceHere"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
